.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
}

.table{
  padding: 0.5rem 1rem !important;
  border-collapse: collapse !important;
  border-spacing: 0;
}

.sticky-col-name{
  position: sticky;
  left: 0;
  background-color: #6b6b6b !important;

}

.row-grey{
  background-color: #6b6b6b !important ;
}

.sticky-col {
  position: sticky;
  left: 0;
  padding: 0.5rem 1rem !important;
  white-space: nowrap;
  background-color: rgb(23, 23, 23) !important;
}

th{
  color: $white;
  font-family: 'Hind Guntur';
  font-weight: 500;
  font-size: 1em;
  background-color: black !important;
  border: none important;
}

td{
  background-color: black !important;
  color: $white !important;
}
