<nav class="navbar">

    <div class="dropdown">
      <button class="dropbtn">Team Senior 2
          <i class="fa fa-caret-down"></i>
      </button>
    </div>

    <div class="navbar-right">
        <img src="gtlogo.png" alt="Game Tracks">
    </div>

</nav>
