<nav class="navbar">

    <div class="dropdown">
      <button class="dropbtn"><span id='teamchoice'>Team Senior 2</span>
          <i class="fa fa-caret-down"></i>
      </button>
    </div>

    <div class="navbar-right">
        <img src="<%= asset_path('gtlogo.png') %>"  alt="Game Tracks">
    </div>

</nav>
