<div class="megamegadiv">

  <div class="divpoints">
    <div class="divpoints1">
        <span class="btn-green-round btnmarginb1">1</span>
        <span class="btn-green-round btnmarginb1">2</span>
        <span class="btn-green-round btnmargin2">3</span>
        <span class="material-symbols-outlined">menu</span>
    </div>
    <div class="divpoints2">
        <span class="btn-red-round btnmarginb1">1</span>
        <span class="btn-red-round btnmarginb1">2</span>
        <span class="btn-red-round btnmargin2">3</span>
        <span class="material-symbols-outlined">undo</span>
    </div>
  </div>

  <div class="divaffichage">
    <div class="divdivaff">
      <div class="divaffichage1">
        <img src="<%= asset_path('Tours.png') %>" alt="" class="logomatch">
        <p>68</p>
      </div>
      <div class="divaffichage2">
        <img src="<%= asset_path('Pau.png') %>" alt="" class="logomatch">
        <p>62</p>
      </div>
    </div>
    <div class="divaffichage3">
      <p>stats affichées</p>
    </div>
  </div>

  <div class="divstats">
    <div class="divstats1">
      <span class="btn-white-round btnmarginb1">BLK</span>
      <span class="btn-white-round btnmarginb1">STL</span>
      <span class="btn-white-round btnmargin2">OR</span>
      <span class="btn-rectangle">SUB</span>
    </div>
    <div class="divstats2">
      <span class="btn-white-round btnmarginb1">TO</span>
      <span class="btn-white-round btnmarginb1">AST</span>
      <span class="btn-white-round btnmargin2">DR</span>
      <span class="btn-rectangle">foul</span>
    </div>
  </div>

</div>

<div class="lillildiv">
  <%= link_to 'End QT', stats_game_path(Game.find(Game.last.id)), class: 'btn-rectangle' %>
</div>
