<div class="container">
  <div class="title-container">
    <h3>Your team:</h3>
  </div>
  <div class="row left">
    <% @players.each do |player| %>
      <div class="card-list-players col-sm-6">
        <%= link_to player_path(player) do %>
          <img src="<%= player && player.photo.present? ?cl_image_path(player.photo.key) :asset_path('curry.png')%>" alt="player_picture">
          <p><%= player.player_name_full %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
