// Btn Home
.btn-login{
  width: 139px;
  height: 45px;
  border-radius: 30px;
  border: 2px solid $orange;
  background-color: none;
  a{
    font-family: 'Hind Guntur';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.btn-signup{
  width: 139px;
  height: 45px;
  border-radius: 30px;
  border: 2px solid $white;
  background-color: none;

  a{
    text-decoration: none;
    color: $orange;
    font-family: 'Hind Guntur';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.btn-dashboard {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    background-color: $orange;
    border: 1px solid $white;
    color: $white;
    font-family: 'Hind Guntur';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    box-shadow: 5px 5px 0px 0px $white;
    margin-top: 2rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}


// Show btn + remplacement save
.btn-prepare-orange{
  width: 240px;
  height: 43px;
  border-radius: 5px;
  background: $orange;
  box-shadow: 5px 5px 0px 0px $white;

  a{
    text-decoration: none;
    font-family: 'Hind Guntur';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $white;
  }
}

.btn-orange-classic{
  width: 150px;
  border-radius: 5px;
  background: $orange;
  box-shadow: 5px 5px 0px 0px $white;height: 43px;
  margin: 15px 0px;
  color: $white;
  border: 1px solid $white;

  a{
    text-decoration: none;
    color: var(--white, $white);
    font-family: 'Hind Guntur';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.btn-edit{
  height: 32px;
  width: 40px;
  border-radius: 4px;
  border: 2px solid $orange;
  background: $white;
}


// Start game part

.btn-green-round{
  width: 80px;
  height: 80px;
  border: 2px solid;
  border-color: #24FF00;
  color: white;
  font-family: 'Archivo Black';
  font-size: 20px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.btn-red-round{
  width: 80px;
  height: 80px;
  border: 2px solid;
  border-color: #f00;
  color: white;
  font-family: 'Archivo Black';
  font-size: 20px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.btn-white-round{
  width: 80px;
  height: 80px;
  border: 2px solid;
  border-color: $white;
  color: white;
  font-family: 'Archivo Black';
  font-size: 20px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.btn-rectangle{
  width: 100px;
  height: 28px;
  border: 1px solid $orange;
  color: $white;
  font-family: Archivo Black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
