// show coach et player

.pregame-card{
  display:flex;
  flex-direction: column;
  width: 90%;
  height: 124px;
  background-color: $white;
  box-shadow: 5px 5px 0px 0px #FF7517;
  border-radius: 4px;
  // modif à apporter ce n'est pas complet
}

.card-infos-orange{
  width: 150px;
  height: 159px;
  border-radius: 4px;
  border: 1px solid $orange;

}

.card-infos-white{
  width: 150px;
  height: 159px;
  border-radius: 4px;
  border: 1px solid $white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;

  h4, p{
    color: $orange
  }
  // modif à apporter ce n'est pas complet
}

// Select player
.card-select-players {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-select-player{
  height: 144px;
  width: 130px;
  border-radius: 4px;
  background: $white;
  box-shadow: 5px 5px 0px 0px rgba(255, 117, 23, 0.99);
  margin: 0px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px;
}

.card-select-player img {
  width: 80px;
  margin-bottom: 10px;
}

.container-flex {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
}

.card-opposite-team{
  display: flex;
  flex-direction: column;
  width: 144px;
  height: 130px;
  border-radius: 4px;
  border: 1px solid $orange;
}

.flex-text {
  display: flex;
  height: inherit;
  align-items: center;
}

.label-class {
  background-image: url('curry.png');
}

.d-flex {
  display: flex;
  flex-direction: column;
}

// Player-stat

.card-player{
  width: 336px;
  height: 245px;
  display: flex;
}

.btn-flex {
  display: flex;
  justify-content: center;
}
