.megamegadiv {
  display: flex;
  justify-content: space-between;
  margin-left: 15vh;
  margin-right: 15vh;
  margin-top: 10vh;
}

.petitepetitediv {
  display: flex;
  justify-content: space-between;
  margin-top: 8vh;
  margin-left: 15vh;
  margin-right: 15vh;
}

.divpoints {
  display: flex;
}

.divstats {
  display: flex;
}

.divpoints1 {
  margin-right: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divpoints2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divstats1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divstats2 {
  margin-left: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnmarginb1 {
  margin-bottom: 5vh;
}

.btnmargin2 {
  margin-bottom: 8vh;
}

.divaffichage1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divaffichage2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divaffichage3 {
  display: flex;
  justify-content: center;
}

.divaffichage4 {
  display: flex;
  justify-content: center;
  position: relative;
  top: -30vh
}

.logomatch {
  height: 80px;
  width: 80px;
  object-fit: contain;
}

.lillildiv {
  display: flex;
  justify-content: center;
  position: relative;
  top: -9vh;
}

.divdivaff {
  display: flex;
}

.divaffichage3 {
  p {
    padding: 0;
    margin: 0;
  }
}

