.megamegadiv {
  display: flex;
  justify-content: space-between;
  margin-left: 15vh;
  margin-right: 15vh;
  margin-top: 10vh;
}

.petitepetitediv {
  display: flex;
  justify-content: space-between;
  margin-top: 8vh;
  margin-left: 15vh;
  margin-right: 15vh;
}

.divpoints {
  display: flex;
}

.divstats {
  display: flex;
}

.divpoints1 {
  margin-right: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divpoints2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divstats1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.divstats2 {
  margin-left: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.btn-margin1 {
  margin-bottom: 5vh;
}

.btn-margin2 {
  margin-bottom: 8vh;
}

.divaffichage {
  margin-left: 11vh;
  margin-right: 11vh;
}

.divaffichage1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2vh;
}

.divaffichage2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2vh;
}

.divaffichage3 {
  display: flex;
  justify-content: center;
}

.divaffichage4 {
  display: flex;
  justify-content: center;
  position: relative;
  top: -30vh
}

.logomatch {
  height: 80px;
  width: 80px;
  object-fit: contain;
}

.lillildiv {
  display: flex;
  justify-content: center;
  position: relative;
  top: -9vh;
  left: -4vh;
}

.divdivaff {
  display: flex;
}

.divaffichage3 {
  p {
    padding: 0;
    margin: 0;
  }
}

.simple_form {
  display: flex;
}

.megamegadiv {
  .btn-green-round:active {
    background-color: #24FF00;
  }
}

.megamegadiv {
  .btn-red-round:active {
    background-color: #f00;
  }
}

.megamegadiv {
  .btn-white-round:active {
    background-color: $white;
  }
}

.megamegadiv {
  .btn-rectangle:active {
    background-color: $orange
  }
}

// MODAL

.modal-content {
  border-radius: 10px;
  background-color: transparent;
}

.card-test1 {
  border: 2px solid $orange;
  justify-content: center;
  background-color: transparent;
  p {
    font-size: 16px;
    color: $white;
  }
}

.card-test1:active {
  background-color: $orange;
}

.card-test2 {
  border: 2px solid $white;
  justify-content: center;
  background-color: transparent;
  p {
    font-size: 16px;
    color: $white;
  }
  i {
    color: transparent;
  }
}

.card-test2:active {
  background-color: $white;;
}

.fade {
  backdrop-filter: blur(5px);
}

.player-team-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.player-modal {
  justify-content: center;
}

.laura {
  display: flex;
}

.laura1 {
  display: flex;
  justify-content: center;
}

#logomatchsig {
  width: 55px;
}

.temps1 {
  display: flex;
  justify-content: space-between;
  span {
    border: 2px solid $orange;
    color: $white;
    border-radius: 4vh;
    padding: 2vh 4vh;
    margin: 1.5vh;
  }
  span:active {
    background-color: $orange;
  }
}

.minibtnnext {
  display: flex;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 5vh;
  padding-right: 5vh;
  justify-content: center;
  align-items: center;
}

.timerem {
  color: $white;
  border-bottom: 2px solid $orange;
}

.card-test11 {
  justify-content: center;
  background-color: transparent;
  p {
    font-size: 16px;
    color: $white;
  }
}
