/* app/assets/stylesheets/front.css */

.custom-title {
  text-align: center;
  font-size: 2rem;
  margin: 0 auto; /* Center the h1 element horizontally */
}

.login-button {
  display: inline-block;
  margin-left: 1rem; /* Align the button with the 'Sign up' button */
}

