#terrainbackground {
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: asset-url('terrain.png');
  height: 29vh;
  margin: 40% 0 45px 0;
  width: 100vw;
  //position: relative;
}

#titleyourteam {
  display: flex;
  justify-content: space-between;
  width:100%;
  margin: 0px auto;
  padding: 14px;
  h3 {
    border-left: 4px solid $orange;
  }
}

.startgame {
  text-align: center;
  padding-top: 6px;
  text-decoration: none;
  position: fixed;
  bottom: 9rem;
  z-index: 1;
}

.editsymbol {
  color: $orange;
}

.imgimgimg {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.player-container {
  border-radius: 50%;
}

.maximaxidiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.divclass1 {
  display: flex;
  flex-direction: column;
  //position: fixed;
  top: 23vh;
  align-items: baseline;
  z-index: 10;
}

.divclass2 {
  // display: flex;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //position: fixed;
  top: 27vh;
  width: 85%;
}

.divclass21 {
  display: flex;
  flex-direction: column;
}

.divclass22 {
  // display: flex;
  // flex-direction: column;
  display: flex;
  justify-content: end;
}

.divclass3 {
  display: flex;
  flex-direction: column;
  //position: fixed;
  top: 53vh;
}

.titu {
  border: 4px solid $orange
}

.imgimgimg.selected {
  border: 4px solid $orange;
  border-radius: 50%;
}

.margin-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10rem;
}
